# Copyright (c) 2017 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_INTEL_CAVS_V18
	bool "Intel CAVS v1.8"
	select SOC_FAMILY_INTEL_ADSP
	select XTENSA
	select XTENSA_RESET_VECTOR
	select XTENSA_USE_CORE_CRT1
	help
	  Intel CAVS v1.8
